<p><%= @video.name %> -  <%= @video.year %> </p> 
<p>Section: <%= @video.section.name %></p>

<%= button_to :edit, edit_video_path(@video), method: :get, :class => "btn rounded-outline-btn inline" %>

<p><%= link_to " Youtube Link", @video.link, :target => "_blank" %> - View status: 
    <% if @video.watched == "yes" %>
      <%= " ✓ viewed" %>
    <% else %>
      <%= "not yet" %>
    <% end %></p>
  
<%= button_to "Mark video watched", watched_path(@video), method: :get, :class => "btn rounded-outline-btn" %>
 
<div class="video-container">
  <%= raw @video.embed_link %>
</div>

<br>

<p>Ratings: </p>
<%= button_to "Add Rating", new_video_rating_path(@video), method: :get, :class => "btn rounded-outline-btn" %>

<ul>
<% @video.video_ratings.each do |rating|   %>
  <li><p> Stars: <%= Rating.find(rating.rating_id).stars %> | Reason: <%= rating.reason %> - <%= link_to "Edit", edit_video_rating_path(@video, rating) %>   <%= link_to "Delete", video_rating_path(@video, rating), method: :delete, data: { confirm: "Are you sure?" }  %>   
  </p></li>
<% end %>  
</ul>





<%= button_to "Back to section", section_path(@video.section), :class => "btn rounded-outline-btn" %>




