<div class="container center"> 
  <span class="pull-left">
    <h1>Section: <%= link_to @video.section.name, section_path(@video.section) %></h1>
    <h2>Video: 
    <%= link_to @video.name, @video.link, :target => "_blank"  %>
      -  <small><%= @video.year %></small></h2>    
  </span>

    
     <span class="pull-right">
     <br>
     <% if @video.video_ratings.count > 0 %>
      <% (@total_video_rating.stars).times do %>
          <%= fa_icon "star 3x" %>
        <% end %>
        <% (5-(@total_video_rating.stars)).times do %>
          <%= fa_icon "star-o 3x" %>
        <% end %>
     <% else %>
      <% 5.times do %>
          <%= fa_icon "star-o 3x" %>
        <% end %><br>
       <p class="text-right"> Not yet rated </p>
     <% end %>   
     </span>   
      
       
</div>

<div class="video-container">
  <% if @video.video_watched?(@user, @video) %>
    <div class="video-watched ">
  <% else %>
    <div class="video-not-watched ">
  <% end %>
    <%= embed_html(@video.link)%>
    </div>
</div>

<br>

<div class="container center">
  <%= button_to "Back to section", section_path(@video.section), method: :get, :class => "btn rounded-outline-btn" %>

  <% if policy(@video).update? %>
    <%= button_to :edit, edit_video_path(@video), method: :get, :class => "btn rounded-outline-btn inline" %>
  <% end %>  

  <% if policy(@video).destroy? %>
    <%= button_to "Delete", @video, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn rounded-outline-btn inline" %>
  <% end %>  

  <% if !@video.video_watched?(@user, @video) %>
    <%= button_to "Mark video watched", watched_path(@video), method: :get, :class => "btn rounded-outline-btn", params: {'video[watched]' => true} %>
  <% end %> 

  <% if @video.video_watched?(@user, @video) %>
    <%= button_to "Delete View Status", watched_edit_path(@video), method: :get, :class => "btn rounded-outline-btn", params: {'video[watched]' => false} %>
  <% end %> 

  <%= button_to "Add Rating", new_video_rating_path(@video), method: :get, :class => "btn rounded-outline-btn" %>
<br>

  <p> Your Ratings(1= easy, 5= hard), and personal notes </p>

  <%= render 'ratings/user_ratings' %>
    
</div>
<br><br>
