<p><%= @video.name %> -  <%= @video.year %> </p>
<p>Section: <%= @video.section.name %></p>

<p><%= link_to " Youtube Link", @video.link, :target => "_blank" %> - View status: 
  <% if @video.watched == "yes" %>
    <%= " ✓ viewed" %>
  <% else %>
    <%= "not yet" %>
  <% end %></p>


<br> 
<div class="video-container">
  <%= raw @video.embed_link %>
</div>



<p>Ratings: </p>
<ul>
<% @video.video_ratings.each do |rating|   %>
  <li><p> Stars: <%= Rating.find(rating.rating_id).stars %> | Reason: <%= rating.reason %> - <%= link_to "Edit", edit_video_rating_path(@video, rating) %>   <%= link_to "Delete", video_rating_path(@video, rating), method: :delete, data: { confirm: "Are you sure?" }  %>   
  </p></li>
<% end %>  
</ul>



<%= link_to :edit, edit_video_path(@video) %>
<%= link_to "Delete", @video, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to section", section_path(@video.section) %>
<%= link_to "Mark video watched", watched_path(@video) %>
<%= link_to "Add a difficulty rating for this video lesson", new_video_rating_path(@video) %>


