<h2>Video info</h2>

<p>Section: <%= @video.section.name %></p>
<p>Name: <%= @video.name %></p>
<p>Year: <%= @video.year %></p>
<p>Link: <%= @video.link %></p>
<p>View status: 
  <% if @video.watched == "yes" %>
    <%= " ✓ viewed" %>
  <% else %>
    <%= "not yet" %>
  <% end %></p>
<p>embed link: <%= @video.embed_link %></p>

<%= link_to :edit, edit_video_path(@video) %>
<%= link_to "Delete", @video, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to section", section_path(@video.section) %>
<%= link_to "Mark video watched", watched_path(@video) %>


