<h2><%= @section.name %></h2>
<% if policy(@section).edit? %>
  <%= button_to "Edit", edit_section_path(@section), method: :get, :class => "btn rounded-outline-btn" %>
<% end %>  
<% if policy(@section).destroy? %>
  <%= button_to "Delete", @section, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn rounded-outline-btn" %>
<% end %>
<br>


<div class="container container-cohorts">
<center><h2>Flatiron Videos</h2></center>

  <div class="container cohorts cohort-fourteen text-center"> 
    <h3> 2014:</h3>
    <% @videos.fourteen.flatiron.each do |video| %>
      <p>
        <% if video.video_watched(@user, video) %>
          <%= fa_icon "check-square-o" %>
        <% end %>
        <%= link_to video.name, video_path(video) %>  
      </p>
    <% end %>  
  </div>

  <div class="container cohorts cohort-fifteen text-center">
    <h3> 2015:</h3>
    <% @videos.fifteen.flatiron.each do |video| %>
      <p>
        <% if video.video_watched(@user, video) %>
          <%= fa_icon "check-square-o" %>
        <% end %>
        <%= link_to video.name, video_path(video) %>  
      </p>
    <% end %>  
  </div>

  <div class="container cohorts cohort-sixteen text-center"> 
    <h3> 2016:</h3>
    <% @videos.sixteen.flatiron.each do |video| %>
      <p>
        <% if video.video_watched(@user, video) %>
          <%= fa_icon "check-square-o" %>
        <% end %>
        <%= link_to video.name, video_path(video) %>  
      </p>
    <% end %>  
  </div>
  </div>

<div class="container container-general">
  <center><h2>Public Videos </h2></center>

  <div class="container general"> 
    <ul style="list-style-type:none" id="double">
    <% @videos.general.each do |video| %>
      <li><p>
        <% if video.video_watched(@user, video) %>
          <%= fa_icon "check-square-o" %>
        <% end %>
        <%= link_to video.name, video_path(video) %>  
      </p></li>
    <% end %>
    </ul>  
  </div>

</div>

<%= button_to "Back to sections", sections_path, method: :get, :class => "btn rounded-outline-btn" %>
<%= button_to "Add a video", new_video_path, method: :get, :class => "btn rounded-outline-btn" %>




