<h2><%= @section.name %></h2>
<%= link_to "Edit", edit_section_path(@section) %>
<%= link_to "Delete", @section, method: :delete, data: { confirm: "Are you sure?" } %>
<br>

<h3> Videos:</h3>
<% @section.videos.each do |video| %>
  <p><%= link_to video.name, video_path(video) %></p>
<% end %>  
<br>
Should this be a nested resource action? -->
<%= link_to "Add a video", new_video_path %>



