<h2><%= @section.name %></h2>
<% if policy(@section).edit? %>
  <%= button_to "Edit", edit_section_path(@section), method: :get, :class => "btn rounded-outline-btn" %>
<% end %>  
<% if policy(@section).destroy? %>
  <%= button_to "Delete", @section, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn rounded-outline-btn" %>
<% end %>
<%= button_to "Add Video to this section", new_section_video_path(@section), method: :get, :class => "btn rounded-outline-btn" %>
<br>

<% if current_user.admin? || current_user.flatiron_student? %>
  <%= render 'flatiron_cohorts' %>
<% end %>  

<div class="container container-general">
  <center><h2>General Videos </h2></center>

  <div class="container general"> 
    <ul style="list-style-type:none" id="double">
    <% @videos.general.each do |video| %>
      <li><p>
        <% if video.video_watched?(@user, video) %>
          <%= fa_icon "check-square-o" %>
        <% end %>
        <%= link_to video.name, video_path(video) %>  
      </p></li>
    <% end %>
    </ul>  
  </div>

</div>

<%= button_to "Back to sections", sections_path, method: :get, :class => "btn rounded-outline-btn" %>
<%= button_to "Add a video", new_video_path, method: :get, :class => "btn rounded-outline-btn" %>




