<h1>Secret Study Suggestions</h1>
<br>

<div class="container-statistics">

  <div class="container flatiron-statistics">
    <h3>There are currently a total of <%= Video.flatiron.count %> Flatiron videos, and you have seen <%= Video.watched_flatiron_videos(current_user).count %> so far.</h3>
    <p>Current Flatiron videos progress:</p>
    <% @percentage_watched_flatiron_videos = ( (Video.watched_flatiron_videos(current_user).count * 100) / Video.flatiron.count) %>
    
    <div class="container flatiron-statistics-progress-bar">
        <%= render partial: 'application/progress_bar', locals: {percentage: @percentage_watched_flatiron_videos} %>
    </div>
  </div>
  
    
  <div class="container general-statistics">
    <h3>There are currently a total of <%= Video.general.count %> general videos, and you have seen <%= Video.watched_general_videos(current_user).count %> so far.</h3>
    <p>Current general videos progress:</p>
    <% @percentage_watched_general_videos = ( (Video.watched_general_videos(current_user).count * 100) / Video.general.count) %>
    <div class="container general-statistics-progress-bar">
        <%= render partial: 'application/progress_bar', locals: {percentage: @percentage_watched_general_videos} %>
    </div>
  </div>
  

  <div class="container top-statistics"> 
    <% if Video.most_watched_videos.count == 0 %>
      <h3>No videos have been watched yet!</h3>
    <% else %>  
      <h3>top <%= Video.most_watched_videos.count %> most watched videos</h3>
      <ul>
        <% Video.most_watched_videos.each do |video| %>
          <li> <%= link_to video.name, video_path(video) %></li>
        <% end %>
      </ul>
    <% end %>  

    <% if Video.hardest_videos.count == 0 %>
      <h3>No videos have been rated difficult yet!</h3>
    <% else %>  
      <h3>top <%= Video.hardest_videos.count %> hardest rated videos</h3>
      <ul>
        <% Video.hardest_videos.each do |video| %>
          <li> <%= link_to video.name, video_path(video) %></li>
        <% end %>
      </ul> 
    <% end %> 
  </div>    

  <div class="container statistics-see-again">  
    <% if hard_lessons.nil? %>
      <h3><%= "You have not rated any videos with a 5 star difficulty rating yet." %></h3>
    <% else %>  
      <h3>There are currently <%= hard_lessons.count %> videos you thought were difficult, perhaps watch them again?</h3>
      <ul>
        <% hard_lessons.each do |rating| %>
          <p><li> <%= link_to rating.video.name, video_path(rating.video) %></li></p>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<br><br>

  
